<div class="container">
    <h1 class="text-center">What are you looking to <span class="text-primary">reserve</span> today?</h1>

    <div class="search-input-container">
        <input (change)="updateResources($event)" pInputText placeholder="Search for resource, category..." class="search-input" />
        <p-button icon="pi pi-search" />
    </div>

    @if(resources()) {
        <ul class="resource-list">
            @for (resource of resources(); track $index) {
                <li>
                    <p-button [routerLink]="'/reservation/' + resource.id">
                        {{ resource.name }}
                    </p-button>
                </li>
            }
        </ul>
    }
</div>
