.container {
    min-height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search-input {
    width: 30rem;
}
.search-input-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.resource-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.resource-list > li {
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
