.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.sm > h1    { font-size: 1rem; }
.sm > i     { font-size: 0.8rem; }

.md > h1    { font-size: 1.5rem; }
.md > i     { font-size: 1.3rem; }

.lg > h1    { font-size: 2rem; }
.lg > i     { font-size: 1.8rem; }

