<div class="container">
    <div>
        <h3>Check availability</h3>

        <p-calendar
            [(ngModel)]="range"
            selectionMode="range"
            [readonlyInput]="true"
            [showTime]="true"
            [inline]="true"
            (ngModelChange)="fetchReservationsInRange($event)"
        />

        @if(reservations().length > 0) {
            <h6>Found reservations:</h6>
            <ul class="reservation-list">
                @for (reservation of reservations(); track $index) {
                    <li>
                        <p>{{ reservation.startsAt | date:'dd/MM/yyyy HH:mm' }} - {{ reservation.endsAt | date:'dd/MM/yyyy HH:mm' }}</p>
                        <p>Reserved by: {{ reservation.reservedBy }}</p>
                    </li>
                }
            </ul>
        }
    </div>

    <div>
        <h3>Reservation for <span class="text-primary">{{ resource()?.name }}</span></h3>

        <fieldset class="fieldset">
            <label for="start-date">Starts At</label>
            <p-calendar
                id="start-date"
                [(ngModel)]="range[0]"
                [readonlyInput]="true"
                [showTime]="true"
                (ngModelChange)="fetchReservationsInRange($event)"
            />
        </fieldset>
        <fieldset class="fieldset">
            <label for="end-date">Ends At</label>
            <p-calendar
                id="end-date"
                [(ngModel)]="range[1]"
                [readonlyInput]="true"
                [showTime]="true"
                (ngModelChange)="fetchReservationsInRange($event)"
            />
        </fieldset>
        <p-button severity="success" (onClick)="reserve()" >Confirm Reservation</p-button>

        <p-confirmDialog>
            <ng-template pTemplate="message" let-message>
                <div class="confirmation-rules">
                    <h5>Reservation for {{ resource()?.name }}</h5>
                    <p>{{ range[0] | date:'dd/MM/yyyy HH:mm' }} - {{ range[1] | date:'dd/MM/yyyy HH:mm' }}</p>

                    <h5>Remember the rules:</h5>
                    <ol>
                        <li>Return It as You Found It – Clean up and reset the resource after use.</li>
                        <li>Respect Time Slots – Arrive and finish on time to avoid overlapping bookings.</li>
                        <li>Confirm Before Canceling – Late cancellations waste availability—notify early if plans change.</li>
                        <li>Check Before Extending – Don’t assume you can stay longer; verify availability first.</li>
                        <li>Log Issues Immediately – Report damage or malfunctions so the next user isn’t affected.</li>
                    </ol>
                </div>
            </ng-template>
        </p-confirmDialog>
    </div>
</div>
