@if(resource()) {
    <div class="container">
        <div class="container-header">
            <p-button icon="pi pi-chevron-left" class="back-arrow" [routerLink]="['/dashboard']" severity="secondary"/>
            <h3>Make a reservation for <span class="text-primary">{{ resource()!.name }}</span></h3>
            <reservation-tip/>
        </div>

        <div class="reservation">
            <div class="calendars">
                <p-calendar
                    [(ngModel)]="reservationDay"
                    [readonlyInput]="true"
                    [inline]="true"
                    (ngModelChange)="validate()"
                />
            </div>

            <div>
                <fieldset>
                    <label for="startsAt">Starts At</label>
                    <p-calendar
                        inputId="startsAt"
                        [(ngModel)]="startsAt"
                        [timeOnly]="true"
                        [stepMinute]="5"
                        (ngModelChange)="validate()"
                    />
                </fieldset>
                <fieldset>
                    <label for="endsAt">Ends At</label>
                    <p-calendar
                        inputId="endsAt"
                        [(ngModel)]="endsAt"
                        [timeOnly]="true"
                        [stepMinute]="5"
                        (ngModelChange)="validate()"
                    />
                </fieldset>

                @if(reservations().length > 0) {
                    <p-messages [closable]="false" severity="error">
                        <ng-template pTemplate>
                            <i class="pi pi-times-circle"></i>
                            <div class="message-text">
                                <p>Resource not available, one or more reservations found in the selected range.</p>
                            </div>
                        </ng-template>
                    </p-messages>
                }
                <p-button severity="success" (onClick)="reserve()" [disabled]="reservations().length > 0">Confirm Reservation</p-button>

                <p-confirmDialog>
                    <ng-template pTemplate="message" let-message>
                        <div>
                            <reservation-details [start]="startsAt" [end]="endsAt" [resource]="resource()!.name"/>
                            <p>By confirming the reservation, you agree to the <reservation-rules/></p>
                        </div>
                    </ng-template>
                </p-confirmDialog>
            </div>
        </div>

        <div class="reservation-history">
            <h5>Reservation history for <span class="text-primary">{{ resource()!.name }}</span></h5>

            <div class="calendar-container">
                <div>
                    <mwl-calendar-week-view
                        [viewDate]="reservationDay"
                        [events]="reservationHistory()"
                        [hourSegments]="1"
                        [dayStartHour]="8"
                        [dayEndHour]="18"
                    />
                </div>
            </div>
        </div>
    </div>
}
