<div class="container">
    <div class="container-header">
        <p-button icon="pi pi-chevron-left" class="back-arrow" [routerLink]="['/dashboard']" severity="secondary"/>
        <h3>Make a reservation for <span class="text-primary">{{ resource()?.name }}</span></h3>
        <span></span>
    </div>

    <div class="reservation">
        <div class="calendars">
            <fieldset>
                <label for="startsAt">Starts At <reservation-tip/></label>
                <p-calendar
                    inputId="startsAt"
                    [(ngModel)]="startsAt"
                    [timeOnly]="true"
                    [stepMinute]="5"
                    (ngModelChange)="validate()"
                />
            </fieldset>
            <fieldset>
                <label for="endsAt">Ends At</label>
                <p-calendar
                    inputId="endsAt"
                    [(ngModel)]="endsAt"
                    [timeOnly]="true"
                    [stepMinute]="5"
                    (ngModelChange)="validate()"
                />
            </fieldset>
            <p-calendar
                [(ngModel)]="reservationDay"
                [readonlyInput]="true"
                [inline]="true"
                (ngModelChange)="validate()"
            />
        </div>

        <div>
            @if(reservations().length > 0) {
                <p-messages [closable]="false" severity="error">
                    <ng-template pTemplate>
                        <i class="pi pi-times-circle"></i>
                        <div class="message-text">
                            <p>Resource not available, one or more reservations found in the selected date.</p>
                        </div>
                    </ng-template>
                </p-messages>
                <p-messages [closable]="false" severity="warn">
                    @for(reservation of reservations(); track $index) {
                        <ng-template pTemplate>
                            <i class="pi pi-exclamation-triangle"></i>
                            <div class="message-text">
                                <p>{{ reservation.startsAt | date:'dd/MM/yyyy' }} {{ reservation.startsAt | date:'HH:mm' }} - {{ reservation.endsAt | date:'HH:mm' }}</p>
                                <p>Reserved by: {{ reservation.reservedBy }}</p>
                            </div>
                        </ng-template>
                    }
                </p-messages>
            } @else {
                <reservation-details [start]="startsAt" [end]="endsAt" [resource]="resource()!.name"/>
                <p-button severity="success" (onClick)="reserve()">Confirm Reservation</p-button>

                <p-confirmDialog>
                    <ng-template pTemplate="message" let-message>
                        <div>
                            <reservation-details [start]="startsAt" [end]="endsAt" [resource]="resource()!.name"/>
                            <p>By confirming the reservation, you agree to the <reservation-rules/></p>
                        </div>
                    </ng-template>
                </p-confirmDialog>
            }
        </div>
    </div>
</div>
