<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
        <booxer-logo/>
        <fieldset>
            <label for="usernameOrEmail">Username or Password</label>
            <input
                id="usernameOrEmail"
                formControlName="usernameOrEmail"
                pInputText
            />
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <p-password
                inputId="password"
                formControlName="password"
                [feedback]="false"
                [toggleMask]="true"
            />
        </fieldset>
        <p-button type="submit" [disabled]="form.invalid" rightIcon="login" class="self-end">Login</p-button>
    </form>
</div>
