.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.resource-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.8rem;

    margin: 0;
    padding: 0;
}
